forge-1.7.2-10.12.1.1060/.classpath
forge-1.7.2-10.12.1.1060/.project
*.ogg
*.bin
*.dll
*.prefs
*.lang
*.lnk
*.lock
forge-1.7.2-10.12.1.1060/LICENSE-fml.txt
*.txt
*.class
*.properties
*.gradle
*.jar
*.tree
*.json
*.launch
*.xml
*.location
*.icns
*.mcmeta
forge-1.7.2-10.12.1.1060/gradlew.bat
forge-1.7.2-10.12.1.1060/gradlew
forge-1.7.2-10.12.1.1060/eclipse/assets/icons/icon_32x32.png
forge-1.7.2-10.12.1.1060/eclipse/assets/icons/icon_16x16.png
forge-1.7.2-10.12.1.1060/bin/mcmod.info